.row
    .col-lg-4.col-xs-6.col-xs-cost
        .product
            .product__img-block
                img.product__img(src="img/product_1.png" alt="Acana Wild Prairie catand dog")
            .product__name-block
                h3.product__name
                    a.product__name-link(href="#") Acana Wild Prairie catand dog
            .product__description-block
                p.product__description
                    | Беззерновой корм с курицей для собак корм с курицей
            .product__price-block.dropdown
                #dLabel_1(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                    p.product__price(data-price="100000")
                        | 100000 руб
                    span.change-weight(data-weight="0.32")
                        | 0,32 кг
                        span.icon-caret
                .dropdown-menu(aria-labelledby="dLabel_1")
                    ul.price-product__list
                        li.price-product__item.active-product(data-price="100000" data-weight="0,34")
                            | 100000 руб<span>0,34 кг</span>
                        li.price-product__item(data-price="480000" data-weight="2,42")
                            | 480000 руб<span>2,42 кг</span>
                        li.price-product__item(data-price="950000" data-weight="6,8")
                            | 950000 руб<span>6,8 кг</span>
                        li.price-product__item(data-price="1650000" data-weight="12")
                            | 1650000 руб<span>12 кг</span>
            .product__buttons
                a.product__buttons-basket(data-toggle="modal" data-target="#myModal")
                    | В корзину
                a.product__buttons-detail(href="#")
                    | Подробнее
    .col-lg-4.col-xs-6.col-xs-cost
        .product
            .product__img-block
                img.product__img(src="img/product_2.png" alt="Acana Wild Prairie catand dog")
            .product__name-block
                h3.product__name
                    a.product__name-link(href="#")
                        |Acana Wild Prairie dog Wild Prairie dog
            .product__description-block
                p.product__description
                    | Беззерновой корм с курицей для собак корм с курицей
            .product__price-block.dropdown
                #dLabel_2(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                    p.product__price(data-price="100000")
                        | 100000 руб
                    span.change-weight(data-weight="0.32")
                        | 0,32 кг
                        span.icon-caret
                .dropdown-menu(aria-labelledby="dLabel_2")
                    ul.price-product__list
                        li.price-product__item.active-product(data-price="100000" data-weight="0,34")
                            | 100000 руб<span>0,34 кг</span>
                        li.price-product__item(data-price="480000" data-weight="2,42")
                            | 480000 руб<span>2,42 кг</span>
                        li.price-product__item(data-price="950000" data-weight="6,8")
                            | 950000 руб<span>6,8 кг</span>
                        li.price-product__item(data-price="1650000" data-weight="12")
                            | 1650000 руб<span>12 кг</span>
            .product__buttons
                a.product__buttons-basket(data-toggle="modal" data-target="#myModal")
                    | В корзину
                a.product__buttons-detail(href="#")
                    | Подробнее
    .col-lg-4.col-xs-6.col-xs-cost
        .product
            .product__img-block
                img.product__img(src="img/product_3.png" alt="Acana Wild Prairie catand dog")
            .product__name-block
                h3.product__name
                    a.product__name-link(href="#")
                        | Ami Play Crazy
            .product__description-block
                p.product__description
                    | Лежак овальный, размер XS
            .product__price-block.dropdown
                #dLabel_3(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                    p.product__price(data-price="100000")
                        | 100000 руб
                    span.change-weight(data-weight="0.32")
                        | 0,32 кг
                        span.icon-caret
                .dropdown-menu(aria-labelledby="dLabel_3")
                    ul.price-product__list
                        li.price-product__item.active-product(data-price="100000" data-weight="0,34")
                            | 100000 руб<span>0,34 кг</span>
                        li.price-product__item(data-price="480000" data-weight="2,42")
                            | 480000 руб<span>2,42 кг</span>
                        li.price-product__item(data-price="950000" data-weight="6,8")
                            | 950000 руб<span>6,8 кг</span>
                        li.price-product__item(data-price="1650000" data-weight="12")
                            | 1650000 руб<span>12 кг</span>
            .product__buttons
                a.product__buttons-basket(data-toggle="modal" data-target="#myModal")
                    | В корзину
                a.product__buttons-detail(href="#")
                    | Подробнее
    .col-lg-4.col-xs-6.col-xs-cost
        .product
            .product__img-block
                img.product__img(src="img/product_4.png" alt="Acana Wild Prairie catand dog")
            .product__name-block
                h3.product__name
                    a.product__name-link(href="#") Acana Wild Prairie catand dog
            .product__description-block
                p.product__description
                    | Беззерновой корм с курицей для собак корм с курицей
            .product__price-block.dropdown
                #dLabel_4(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                    p.product__price(data-price="100000")
                        | 100000 руб
                    span.change-weight(data-weight="0.32")
                        | 0,32 кг
                        span.icon-caret
                .dropdown-menu(aria-labelledby="dLabel_4")
                    ul.price-product__list
                        li.price-product__item.active-product(data-price="100000" data-weight="0,34")
                            | 100000 руб<span>0,34 кг</span>
                        li.price-product__item(data-price="480000" data-weight="2,42")
                            | 480000 руб<span>2,42 кг</span>
                        li.price-product__item(data-price="950000" data-weight="6,8")
                            | 950000 руб<span>6,8 кг</span>
                        li.price-product__item(data-price="1650000" data-weight="12")
                            | 1650000 руб<span>12 кг</span>
            .product__buttons
                a.product__buttons-basket(data-toggle="modal" data-target="#myModal")
                    | В корзину
                a.product__buttons-detail(href="#")
                    | Подробнее
    .col-lg-4.col-xs-6.col-xs-cost
        .product
            .product__img-block
                img.product__img(src="img/product_5.png" alt="Acana Wild Prairie catand dog")
            .product__name-block
                h3.product__name
                    a.product__name-link(href="#")
                        | Acana Wild Prairie dog Wild Prairie dog
            .product__description-block
                p.product__description
                    | Беззерновой корм с курицей для собак корм с курицей
            .product__price-block.dropdown
                #dLabel_5(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                    p.product__price(data-price="100000")
                        | 100000 руб
                    span.change-weight(data-weight="0.32")
                        | 0,32 кг
                        span.icon-caret
                .dropdown-menu(aria-labelledby="dLabel_5")
                    ul.price-product__list
                        li.price-product__item.active-product(data-price="100000" data-weight="0,34")
                            | 100000 руб<span>0,34 кг</span>
                        li.price-product__item(data-price="480000" data-weight="2,42")
                            | 480000 руб<span>2,42 кг</span>
                        li.price-product__item(data-price="950000" data-weight="6,8")
                            | 950000 руб<span>6,8 кг</span>
                        li.price-product__item(data-price="1650000" data-weight="12")
                            | 1650000 руб<span>12 кг</span>
            .product__buttons
                a.product__buttons-basket(data-toggle="modal" data-target="#myModal")
                    | В корзину
                a.product__buttons-detail(href="#")
                    | Подробнее
    .col-lg-4.col-xs-6.col-xs-cost
        .product
            .product__img-block
                img.product__img(src="img/product_6.png" alt="Acana Wild Prairie catand dog")
            .product__name-block
                h3.product__name
                    a.product__name-link(href="#")
                        | Ami Play Crazy
            .product__description-block
                p.product__description
                    | Лежак овальный, размер XS
            .product__price-block.dropdown
                #dLabel_6(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                    p.product__price(data-price="100000")
                        | 100000 руб
                    span.change-weight(data-weight="0.32")
                        | 0,32 кг
                        span.icon-caret
                .dropdown-menu(aria-labelledby="dLabel_6")
                    ul.price-product__list
                        li.price-product__item.active-product(data-price="100000" data-weight="0,34")
                            | 100000 руб<span>0,34 кг</span>
                        li.price-product__item(data-price="480000" data-weight="2,42")
                            | 480000 руб<span>2,42 кг</span>
                        li.price-product__item(data-price="950000" data-weight="6,8")
                            | 950000 руб<span>6,8 кг</span>
                        li.price-product__item(data-price="1650000" data-weight="12")
                            | 1650000 руб<span>12 кг</span>
            .product__buttons
                a.product__buttons-basket(data-toggle="modal" data-target="#myModal")
                    | В корзину
                a.product__buttons-detail(href="#")
                    | Подробнее